/Data/
/masks/
/resampled/
/Data
/masks
/resampled
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1
/nnUNet_Workspace/docker/.Oldfiles
.DS_Store
