/Data/
/masks/
/resampled/
/Data
/masks
/resampled
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/fold_0
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/fold_1
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/fold_2
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/fold_3
/nnUNet_Workspace/docker/nnUNetTrainerV2__nnUNetPlansv2.1/fold_4
